header {
    min-height: 300px;

    background-image: url("http://ochevidets.ru/userfiles/2018/08/11/b814233905_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    margin-bottom: 15px;

}

.content-main {
    border-left: 1px solid black;
}

.menu-list {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    list-style-type: none;
    margin-top: 40px;
}


.menu-link {
    color: white;
    font-size: 30px;
    margin-top: 40px;
    text-decoration: none;


}



h1 {
    color: black;
    text-align: center;
}

.block {
    width: 800px;
    margin: 0 auto;

    padding: 15px;
}

.link {
    text-decoration: none;
}

.text {
    line-height: 30px;
    text-align: justify;
    text-indent: 25px;
    font-family: 'Roboto', sans-serif;
    ;
}

.list {
    list-style-type: square;
}

.list1 {
    list-style-type: upper-roman;
}

.img_cat {
    width: 350px;
    height: 300px;
}

figcaption {
    color: gray;
    margin-left: 55px;
}


.content_num {
    display: inline-block;
    width: 250px;
    border: 2px solid rgb(155, 155, 155);
    line-height: 20px;
    box-shadow: 3px 3px 5px #999;
}

.table_of_content {
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;

}

.table_num {
    font-size: 18px;
}




h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info_poroda_tab {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: circle;
    line-height: 25px;
}

footer {
    width: 800px;
    margin: 0 auto;
}

.footer {
    margin-top: 25px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}